<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../assets/style.css">
<link rel="stylesheet" type="text/css" href="../assets/popcall.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="291078724203-hqc14lvkpvfdpi66b6rlpagtlne04kl9.apps.googleusercontent.com">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body>
<div class="topnav" >
    <div class="col-md-12" >
    <img class="col-md-2 col-md-offset-1 " onclick="location.href='/' " id="logo" src="../assets/Wemaste-Logo.png">
    <button class="col-md-2 col-md-offset-3 btn"  id="help" >Help</button>
    <button class="col-md-2 btn" id="login" >Login</button>
  </div>  
  <div class="col-md-12">
  <hr style="border:0.5px solid rgb(207, 205, 205);">
  </div>
  </div>
  <div class="col-md-12" style="text-align: center; margin-top:40px;" >
    <span class="col-md-4 col-md-offset-4"  id="book"><b>Create or link your account to<br/>
       get started</b>
    </span></div>
    <!-- <div class="col-md-12" style="text-align: center" >
            <button class="g-signin2" data-onsuccess="onSignIn"  id="phone" >Sign Up with Google</button>
  </div>
   <div  class="col-md-12" style="text-align: center; margin-top: 10px;">
        <span class="col-md-4 col-md-offset-4"  id="or"><b>or</b>
         </span></div>
    </div> -->
    <div class="col-md-12" style="text-align: center">
            <button  id="phone" onclick="location.href='/signup' ">Sign Up with Email</button>
  </div>
  <div class="col-md-12" style="text-align: center; margin-top:10px; ">
        <span class="col-md-4 col-md-offset-4"  id="lastcontent"><b>By Clicking Sign up or Continue with, I agree to wemast'e</b>
        </span><br>
        <span class="col-md-4 col-md-offset-4"  style="text-align: center;color: #FC97B9;" id="lastcontent"><b>Terms of Service, Payment Terms of Service, Privacy Policy</b>
        </span><br>
        <span class="col-md-4 col-md-offset-4"  style="text-align: center;" id="lastcontent"><b>and</b>&nbsp;<b style="color: #FC97B9">Respect Host Policy.</b>
        </span>
</div>



    <!-- <button  id="phone" onclick="document.getElementById('id01').style.display='block' ">Sign Up with Google</button> -->

</body>
</html>