<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/setting.css">

    <!-- <style>
        
        body{
        font-family: ITC Lubalin Graph Std;
        }
        .focused{
            box-shadow:0px 12px 22px 1px #01364D;
            }
    </style> -->
    <!-- <script>
   $(function(){
    $('img').click(function(){
      $('img').removeClass('focused');
      $(this).addClass('focused');
    });
});
    
    </script> -->
</head>
<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img class="col-md-2 col-md-offset-1" onclick="location.href='/' " id="logo" style="margin-top: 10px;" src="/public/images/wemaste_Logo.png">
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="./dashboard"><b>Save and Exit</b></a></li>
        
                        </ul>
                    </div>
                    <!-- <div class="col-md-12">
                            <h2 style="visibility: hidden;height: 1px; ">.</h2>
                            <div class="progress" style="margin-top: -40px; height: 5px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:20%; height: 10px; background-color:#FC97B9;">
                                </div>
                            </div>
                
                        </div> -->
                </div>
            </nav>
    <div class="container">
            <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="col-md-7">
        <div style="float: left;">
        <label id="maindiv" style="font-size: 22px; color:#01364D; " >New Listings</label>
        <br>
        <span id="maindiv" style="font-size: 18px;color: #01364D">
            <b>Import or Add</b> </span><br>
            <span id="maindiv" style="font-size: 17px; color:#01364D;">    By linking an account you are 
            <br> giving Whimstay access to
            <br> your listing on Whimstay or VRBO.
        </span>
    </div>
    </div>
</div></div></div>
<div class="container">
        <div class="row">
    <div class="col-md-7 col-md-offset-4" style="margin-top: 30px;" >
            <div class="col-md-3 col-xs-12"><img src="/public/images/Whimstay.jpg" style="max-height:80px" /><br>
       <!-- <div style="width: 20%; float: left;" class="col-xs-12"> <img src="/public/images/Whimstay.jpg" onclick="airbnbid()" style="height: 80px; width: 80;"><br> -->
        <label style="color: #01364D;font-size: 19px; margin-left: 10px;">Import</label>
        </div>
        <div class="col-md-3 col-xs-12"><img src="/public/images/vrbo.jpg" style="max-height:80px" /><br>
            <!-- <div style="width: 20%; float: left;" class="col-xs-12"> <img src="/public/images/Whimstay.jpg" onclick="airbnbid()" style="height: 80px; width: 80;"><br> -->
             <label style="color: #01364D;font-size: 19px; margin-left: 10px;">Import</label>
             </div>
             <div class="col-md-3 col-xs-12" onclick="location.href='/host_manual_property' "><img src="/public/images/add-square-button.png" style="max-height:80px" /><br>
                <!-- <div style="width: 20%; float: left;" class="col-xs-12"> <img src="/public/images/Whimstay.jpg" onclick="airbnbid()" style="height: 80px; width: 80;"><br> -->
                 <label style="color: #01364D;font-size: 19px;">Add Property</label>
                 </div>
    </div>


<div class="col-md-7 col-sm-12 col-xs-12 col-md-offset-4" style="margin-top: 60px; ">
    <label style="color: #01364D;font-size: 19px; margin-left: 170px;">1/5</label><br>
    <button id="btnnext"  style="width: 200px; font-size: 20px;  margin-top: 10px; margin-left: 80px;  background-color:rgb(128, 124, 123); color:white;height: 40px;border-radius: 8px; margin-right:20px; border: 1px solid rgb(128, 124, 123);">Next</button>
</div>
</div>
</div>
</body>
</html>