<!doctype html>
<html class="no-js" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="Wemastè">
    <!-- title -->
    <title>Wemastè Host - Why Not? Let's Go! | Book Your Unsold Nights</title>
    <!-- description -->


    <meta name="description" content="Book exclusive deals on last-minute vacation rentals! Build community by splitting the cost with friends right from the mobile app. Choose from various destinations in Northern California.">
    <!-- keywords -->
    <meta name="keywords" content="last-minute vacation rentals, discount vacation rentals, vacation rentals, renting vacation homes, vacation home rentals, vacation rentals by owner, renting vacation homes, beach house, cabin rental, cottage rental, great rentals, vacation home, vacation homes, vacation rental, renting lodging, discount lodging, holiday homes, villas for rent, cabins for rent, rental cabins, cottages for rent, rent cottages, rent cabins, rent villas, rental villas, condos for rent, condo rentals, pet friendly vacation rentals, accessible vacation rentals, rentals for holidays, weekend vacation rentals">
    <!-- favicon -->
    <link rel="icon" href="../public/images/favicon.ico">

    <!-- styles font-awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!-- animation -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- font-awesome icon -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        <link rel="stylesheet" href="../public/stylesheets/core.css" />
  <style>
.navbar-toggle {
    position: relative;
    float: right;
    margin-top: 20px;
}
.header-social-icon {
    padding-left: 0px;
    margin-left: 0px;
    margin-left: 1px;
    play: inline-block;
    line-height: 15px;
    position: relative;
    margin-right: 0px;
    margin-right: 0px;
}

  .navbar-inverse {
    background-color: #fc97b9;
    border-color: #fc97b9;
}
.navbar-nav {
    margin: 7.5px 0px;
    background-color: #fc97b9;
}
.logo-light{
    vertical-align: middle;
    width: 50%;
    margin: 20px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #01364D;
    font-weight: 500;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
   
    background-color: #fc97b9;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000000;
    margin-left:10px;
    font-weight: 500;
}
@media(max-width:900px) {
.logo-light{
    width: 110px;
    height: 30px;
}
}

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="#home" title="Logo" class="logo scroll">
            <!-- <img src="../public/images/wemaste-logo-blue-sm.png" class="logo-dark" alt="boltex"> -->
            <img src="../public/images/wemaste-logo-blue-sm.png" alt="boltex" class="logo-light">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    
      <ul class="nav navbar-nav navbar-right">
            <li>
                    <a href="/" class="scroll">Home</a>
                </li>
                <li class="active">
                    <a href="/" class="scroll">Become a Host</a>
                </li>
                <li>
                    <a href="#" class="scroll" data-toggle="modal" data-target="#myModal-Signup">Sign
                        Up</a>
                </li>
                <li>
                    <a href="#" class="scroll" data-toggle="modal" data-target="#myModal-Login">Login</a>
                </li>
               <!-- </ul>
               <ul class="col-sm-6"> -->
                <li class="header-social-icon sm-display-none" aria-hidden="true">
                        <a href="https://facebook.com/wemastevacation" class="facebook-bg-hvr" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>  
                </li>
                <li class="header-social-icon sm-display-none" aria-hidden="true">
                        <a href="https://www.instagram.com/wemaste/" class="instagram-bg-hvr" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </li>
                <li class="header-social-icon sm-display-none" aria-hidden="true">
                        <a href="https://linkedin.com/company/wemaste" class="linkedin-bg-hvr" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
               
            </div>
      </ul>
    </div>
  </div>
</nav>
  


</body>
</html>
