<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
	<meta name="author" content="Wemastè">
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">
  <!-- title -->
  	<title>Notifications - Whimstay Host</title>
  <!-- favicon -->
	<link rel="icon" href="../public/images/icons/wemaste-favicon.png">
	
  <!-- styles font-awesome icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <!-- animation -->
  <link rel="stylesheet" href="css/animate.min.css"/>
   <!-- font-awesome icon -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	
  <!-- wemaste styles -->
  <link rel="stylesheet" href="../public/stylesheets/core.css"/>
  <link rel="stylesheet" href="../public/stylesheets/stylehome.css"/>
	
	
  
</head>

<body class="host-dashboard">
	
<!-- start header -->
<%- include mainMasterDashboard.ejs %>
<!-- end header -->
	
<!-- start main content -->
<section id="getstarted" class="no-transition">
    <div class="container">
        <div class="row">
            <div class="col-md-12  margin-20px-top margin-30px-bottom">
                
                    
			      <h3 class="text-capitalize text-dark-blue font-weight-300">Notifications</h3>
				
			
			</div>
        </div>
		
		<div class="row">

			<div class="col-md-4 margin-30px-bottom">
				
				<div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="text-blue">Activity Reminders</h6>
                        </div>
                        <div class="panel-body">
							<form action="/">
									<div class="row">
										
											
											<div class="col-md-12">
											
												<p>Receive booking reminders, request to write a review, and other reminders related to your activities on Whimstay.</p>
												<div class="form-group">
													<label for="remindersEmail"> <input type="checkbox" id="remindersEmail" name="remindersEmail" checked> Emails</label>
												</div>
												<div class="form-group">
													<label for="remindersText"> <input type="checkbox" id="remindersText" name="remindersText" checked> Text</label>
												</div>
												
												
											</div>
										</div>
									

							</form>
								</div>
                        </div>
				
				<div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="text-blue">Policy and Community</h6>
                        </div>
                        <div class="panel-body">
							<form action="/">
									<div class="row">
										
											
											<div class="col-md-12">
											
												<p>Receive updates on regulations and stay informed about advocacy efforts to create fair, responsible home sharing laws in your community.</p>
												<div class="form-group">
													<label for="policyEmail"> <input type="checkbox" id="policyEmail" name="policyEmail" checked> Emails</label>
												</div>
												<div class="form-group">
													<label for="policyText"> <input type="checkbox" id="policyText" name="policyText" checked> Text</label>
												</div>
												
												
											</div>
										</div>
									

							</form>
								</div>
                        </div>
				
                        
                    </div>
			
			<div class="col-md-4 margin-30px-bottom">
				
				<div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="text-blue">Promotions and Insight</h6>
                        </div>
                        <div class="panel-body">
							<form action="/">
									<div class="row">
										
											
											<div class="col-md-12">
											
												<p>Receive promotions, product updates, events, and business inspiration.</p>
												<div class="form-group">
													<label for="promoEmail"> <input type="checkbox" id="promoEmail" name="promoEmail" checked> Emails</label>
												</div>
												<div class="form-group">
													<label for="promoText"> <input type="checkbox" id="promoText" name="promoText" checked> Text</label>
												</div>
												
												
											</div>
										</div>
									

							</form>
								</div>
                        </div>
												<input type="hidden" value="<%= firstName %>" id="firstName">
												<input type="hidden" value="<%= data %>" id="userId">
				
				<div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="text-blue">Account Support</h6>
                        </div>
                        <div class="panel-body">
							<form action="/">
									<div class="row">
										
											
											<div class="col-md-12">
											
												<p>We may need to send you messages regarding your account, legal notifications, security and privacy matters, and customer support requests. For your security you cannot disable email notifications and we may contact you by phone or other means if needed..</p>
												<div class="form-group">
													<label for="supportEmail"> <input type="checkbox" id="supportEmail" name="supportEmail" checked disabled> Emails</label>
												</div>
												<div class="form-group">
													<label for="supportText"> <input type="checkbox" id="supportText" name="supportText" checked> Text</label>
												</div>
												
												
											</div>
										</div>
									

							</form>
								</div>
                        </div>
                        
                    </div>

	
			<div class="col-md-1"></div>
			<div class="col-md-3">
				
					<div class="sidebar-box">
					<h5 class="text-capitalize text-dark-blue font-weight-300">Profile Settings</h5>
					<ul class="no-margin-left no-padding-left margin-20px-top">
						<li><a href="./profile">Profile Details</a></li>
						<li><a href="./payout">Payout Settings</a></li>
						<li class="active"><a href="./notification">Notifications</a></li>
						<li><a href="./Sign_out" onclick="signOut()">Sign Out</a></li>
					</ul>
				</div>
                
                 <div class="sidebar-box">
						<h5 class="text-capitalize text-dark-blue font-weight-300">Share the Love</h5>
						<p>Help us grow by telling your friends about Whimstay.</p>
					<button type="button" id="shareMail" class="btn btn-blue btn-rounded btn-large width-100" data-toggle="modal" data-target="#myModal-Share" >Share</button>
				</div>
				
				<div class="sidebar-box">
				<h5 class="text-capitalize text-dark-blue font-weight-300">Follow Us</h5>
				<div class="sidebar-social-icon">
					<a href="https://www.facebook.com/whimstay" class="facebook-bg-hvr"  target="_blank"><i class="fab fa-facebook-f"></i></a>
					<a href="https://www.instagram.com/whimstay" class="instagram-bg-hvr" target="_blank"><i class="fab fa-instagram"></i></a>
					<a href="https://www.linkedin.com/company/whimstay" class="linkedin-bg-hvr"  target="_blank"><i class="fab fa-linkedin-in"></i></a>
					
				</div>
				</div>
					
				
            </div>
			
			
        </div>

        
    </div>
</section>
<!--end main content -->
	
	<!-- start bank form lightbox-->
		<!-- Modal -->
		<div id="myModal-Bank" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				
			  </div>
			  <div class="modal-body">
				
				  
				  <form action="/" class="bankform">
					  <div class="form-group">
						  <label for="accTypeRadio">Bank Account Type:</label>
						    <div class="radio">
							  <label><input type="radio" name="accType" id="accType"  checked>Checking</label>
							</div>
							<div class="radio">
							  <label><input type="radio" name="accType" id="accType" >Savings</label>
							</div>
					  </div>
					  <div class="form-group">
						  <label for="fullName">Account Holder Name:</label>
						<input type="text" class="form-control" id="fullName" name="fullName" placeholder="First Last...">
					  </div>
					  <div class="form-group">
						  <label for="routing">Rounting Number:</label>
						<input type="text" class="form-control" id="routing" name="routing" placeholder="e.g. 123456789">
					  </div>
					  <div class="form-group">
					  <label for="account">Account Number:</label>
						<input type="text" class="form-control" id="account" name="account" placeholder="e.g. 123456789">
					  </div>
					  <div class="form-group">
					  <label for="accountConfirm">Confirm Account Number:</label>
						<input type="text" class="form-control" id="accountConfirm" name="accountConfirm" placeholder="e.g. 123456789">
					  </div>
					 
					  
					  <button type="submit" class="btn btn-blue btn-rounded btn-large width-100" data-toggle="modal" data-target="#myModal-Verify" data-dismiss="modal">Save</button>
				 </form>
				  
				  
			  </div>
			  
			</div>

		  </div>
		</div>
	<!-- end bank form lightbox-->
	
	<!-- start bank form lightbox-->
		<!-- Modal -->
		<div id="myModal-BankVerify" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				
			  </div>
			  <div class="modal-body">
				
				  
				  <form action="/" class="bankform">
					  <div class="form-group">
						  <label for="verifyBA">Verify Bank Account:</label>
						  <p class="text-small">Before payments can be made or your lisitng be published, we must first verify your bank account. Enter the exact amount deposited into your account by Wemastè. It made take up to 3-7 business days for the deposit to show in your bank transactions. </p>
						    <input type="text" class="form-control" id="verifyBA" name="verifyBA" placeholder="$0.00">
					  </div>
					  
					  
					  <button type="submit" class="btn btn-blue btn-rounded btn-large width-100" data-toggle="modal" data-dismiss="modal">Verify</button>
				 </form>
				  
				  
			  </div>
			  
			</div>

		  </div>
		</div>
	<!-- end bank form lightbox-->
	
	<!-- start share with a host lightbox-->
		<!-- Modal -->
		<div id="myModal-Share" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<!--<h4 class="modal-title">Modal Header</h4>-->
			  </div>
			  <div class="modal-body">
				
				  
				  <form action="/">
					  <div class="form-group">
							<label for="shareTo">To: <span class="text-extra-small">(seperate with a comma)</span></label> 
							<input type="email" class="form-control" id="shareTo" name="shareTo" onkeypress="validateInput()"  maxlength="5000" placeholder="Enter Emails... ">
							<span id="mail1" style="color:red;"></span>
						</div>
					  <div class="form-group">
						<label for="shareSubject">Subject:</label> 
						<input type="text" class="form-control" id="shareSubject" name="shareSubject" onkeypress="validateInput()" maxlength="500" Value="Have You Seen Whimstay Yet">
						<span id="subject" style="color:red;"></span>	
					</div>
					  <div class="form-group">
						  <label for="shareMessage">Message:</label>
						  <div class="form-control margin-10px-bottom" contenteditable="true" id="shareMessage"  maxlength="2000" name="shareMessage">
							<span id="message" style="color:red;"></span>
						  </div>
					  </div>
					  
					  <button type="submit" id="emailSent" class="btn btn-blue btn-rounded btn-large width-100" data-toggle="modal" data-target="#Share_model" data-dismiss="modal">Send</button>
				 </form>
				  
				  
			  </div>
			  
			</div>

		  </div>
		</div>
	<!-- end share with a host lightbox-->



<!-- Modal start -->

<div id="Share_model" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: pink;">
				<span class="modal-title"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="message-body"></p>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal End -->
<script>
	function validateInput() {
		$('#mail1').empty();
		$('#subject').empty();
	}

</script>

	
<!--footer Start-->
<footer class="bg-dark-blue padding-30px-tb text-center">
    <div class="footer-widget-area">
        <div class="container">
					<div class="row">
						<div class="medium-icon social-icon-style-3 social_icon list-inline margin-20px-top">
								<a class="facebook text-white facebook-bg-hvr wow fadeInUp" data-wow-duration=".5s" href="https://www.facebook.com/whimstay"
										target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
								<a class="instagram text-white instagram-bg-hvr wow fadeInDown" data-wow-duration=".5s" href="https://www.instagram.com/whimstay"
										target="_blank"><i class="fab fa-instagram"></i><span></span></a>
								<a class="linkedin text-white linkedin-bg-hvr wow fadeInUp" data-wow-duration=".5s" href="https://www.linkedin.com/company/whimstay"
										target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>

						</div>
				</div>
			
			
            <p class="text-white text-large margin-10px-bottom margin-20px-top">© Whimstay, Inc. All Rights Reserved.</p>
			<p class="text-white"><a href="./terms_privacy">Terms & Privacy</a> </p>
        </div>
    </div>

</footer>
<!-- end footer -->
	<!-- javascript libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>


	<!-- setting -->
		<script src="../public/javascripts/global.js"></script>
	<script src="../public/javascripts/shareTheLoveApi.js"></script>
	<script>
		function signOut() {
			localStorage.removeItem('token');
		}
	</script>
</body>
</html>