<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="Wemastè">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <!-- title -->
    <title>Terms & Privacy - Whimstay Host</title>
    <!-- favicon -->
    <link rel="icon" href="../public/images/icons/wemaste-favicon.png">

    <!-- styles font-awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!-- animation -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- wemaste styles -->
    <link rel="stylesheet" href="../public/stylesheets/core.css" />
    <link rel="stylesheet" href="../public/stylesheets/stylehome.css" />



</head>

<body class="host-dashboard">

    <!-- start header -->
    <header>
        <!-- start navigation -->


        <nav
            class="nav-white-text navbar navbar-default bootsnav navbar-fixed-top nav-darkblue header-light bg-pink nav_line">
            <div class="container-fluid nav-header-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row">

                    <div class="col-md-2 col-xs-5">
                        <a href="/" title="Logo" class="logo scroll">
                            <img src="../public/images/whimstay-logo.png" class="logo-dark" alt="boltex">
                            <img src="../public/images/whimstay-logo.png" alt="boltex" class="logo-light default">
                        </a>
                    </div>
                    <!-- end logo -->
                    <div
                        class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right hidden-sm hidden-xs">

                        <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">

                            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal"
                                data-in="fadeIn" data-out="fadeOut">
                                <!-- start menu item -->
                                <li>
                                    <a href="/" class="scroll">Home</a>
                                </li>
                                <li>
                                    <a href="/" class="scroll">Become a Host</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-5 width-auto sm-width-15 xs-width-20 no-padding">
                        <div class="header-social-icon sm-display-none" aria-hidden="true">
                            <a href="https://www.facebook.com/whimstay" class="facebook-bg-hvr" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/whimstay" class="instagram-bg-hvr" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/whimstay" class="linkedin-bg-hvr"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header -->


    <!-- end header -->

    <!-- start main content -->
    <input type="hidden" value="<%= url %>" id="globalUrl">
    <section id="getstarted" class="no-transition">
        <div class="container">
            <!-- <div class="row">
            <div class="col-md-12  margin-20px-top margin-30px-bottom">
                
                    
			      <h3 class="text-capitalize text-dark-blue font-weight-300">Terms of Service</h3>
				
			
			</div>
        </div> -->

            <div class="row">


                <div class="col-md-12 margin-100px-bottom">

                    <div id="displayTerms" style="margin-top: 26px;"></div>

                </div>



            </div>


        </div>
    </section>
    <!--end main content -->

    <!--footer Start-->
    <footer class="bg-dark-blue padding-30px-tb text-center">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="medium-icon social-icon-style-3 social_icon list-inline margin-20px-top">
                        <a class="facebook text-white facebook-bg-hvr wow fadeInUp" data-wow-duration=".5s"
                            href="https://www.facebook.com/whimstay" target="_blank"><i
                                class="fab fa-facebook-f"></i><span></span></a>
                        <a class="instagram text-white instagram-bg-hvr wow fadeInDown" data-wow-duration=".5s"
                            href="https://www.instagram.com/whimstay" target="_blank"><i
                                class="fab fa-instagram"></i><span></span></a>
                        <a class="linkedin text-white linkedin-bg-hvr wow fadeInUp" data-wow-duration=".5s"
                            href="https://www.linkedin.com/company/whimstay" target="_blank"><i
                                class="fab fa-linkedin-in"></i><span></span></a>

                    </div>
                </div>


                <p class="text-white text-large margin-10px-bottom margin-20px-top">© Whimstay, Inc. All Rights
                    Reserved.</p>
                <p class="text-white"><a href="./termsandcondition">Terms & Privacy</a> </p>
            </div>
        </div>

    </footer>
    <!-- end footer -->
    <!-- javascript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--form validation-->
    <!-- <script src="http://13.59.91.130:3000/assets/validation.js"></script>
  <script src="http://13.59.91.130:3000/assets/script.js"></script>
	 -->
    <!-- setting -->
    <script>
        var url = document.getElementById('globalUrl').value;
        $.ajax({
            url: url + 'support/document',
            type: 'GET',
            dataType: "json",
            'headers': {
                Authorization: localStorage.getItem('token') || '',
            },
            success: function (result, textStatus, xhr) {
                console.log(JSON.stringify(result))
                $.each(result, function (i, item) {
                    var trHTML = '';
                    trHTML += '<div class="col-sm-12"><p class="no-margin-bottom"><li><a href="' + item.urlPath + '" target="blank"><strong>' + item.documentName + '</strong></a></li></p></div><br>'

                    // document.getElementById('displayTerms').value = item.documentName;
                    $('#displayTerms').append(trHTML);

                });
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr);
                // console.log(errorThrown);
            }
        });

    </script>

</body>

</html>